{% extends 'core/base.html'%}
{% block content %}
<div class="container mt-5">
<h1 class="text-warning mb-5 border-bottom">CONTACT US</h1> 

<div class="row text-white mb-5">
<p class="mx-auto mb-5">
 Do you have any questions? Please do not hesitate to
contant. I will come
back to you within a matter of hours to help you.    
</p>
<div class="col-sm-9 mb-5">
<form action="/contact/" method="post" class="action" novalidate>
{% csrf_token %}
<div class="form-row">

<div class="form-group col-md-6">
<label for="inputName" >Your Name</label>
<input type="text" class="form-control" id="inputName" name="name">  
</div>
<div class="form-group col-md-6">
<label for="inputEmail">Your Email</label>
<input type="text" class="form-control" name="email" id="inputEmail" required >   
</div>
</div>

<div class="from-group">
<label for="inputSubject">Your Subject</label>
<input type="text" class="form-control" id="inputSubject" name="subject">   
</div>
<div class="mb-3">
<label for="inputTextarea">Your Message</label>
<textarea type="text" class="form-control" id="inputTestarea" name="message"
required></textarea>  
</div>
<button class="btn btn-primary" type="submit">Send</button>
</form>

</div>
<div class="col-sm-3 text-center">
<ul class="list-unstyled">
<li>
<i class="fas fa-map-marker-alt fa-2x ss-color"></i> 
<p>Chandigarh, Punjab ,India</p>   
</li>
<li>
<i class="fas fa-phone mt-4 fa-2x ss-color"></i> 
<p>+91 9418309426</p>     
</li>
<i class="fas fa-envelope mt-4 fa-2x ss-color"></i> 
<p>chandels353@gmail.com</p>   
</ul>
</div>
</div>

<div class="text-center">
<a href="https://twitter.com/i/flow/loginh" target=""><i class="fab fa-twitter ss-color mx-3"></i> </a> 
<a href="https://www.facebook.com/" target=""><i class="fab fa-facebook ss-color mx-3"></i> </a>  
<a href="https://www.instagram.com/accounts/login/" target=""><i class="fab fa-instagram ss-color mx-3"></i> </a>  
<a href="https://dribbble.com/" target=""><i class="fab fa-dribbble ss-color mx-3"></i> </a>     
</div>


{% endblock content %}


