{% extends 'core/base.html' %}
{% block content %}

<div class="container mt-5">
<h1 class="text-warning mb-5 border-bottom">SKILL</h1>

<div class="row text-white">
<div class="col-sm-5">
<h3 class="mt-5">HTML/CSS</h3>
<div class="progress">
<div class="progress-bar bg-danger" role="progressbar" style="width:100%" 
aria-voluenow="100" aria-voluemin="0" aria-voluemax="100%%">100%</div>
</div>
</div>

<div class="col-sm-5 offset-sm-2">
<h3 class="mt-5">Javascript</h3>
<div class="progress">
<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:90%" 
aria-voluenow="90" aria-voluemin="0" aria-voluemax="100%%">90%</div>
</div>
</div>

<div class="col-sm-5">
<h3 class="mt-5">Jquery</h3>
<div class="progress">
<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:70%" 
aria-voluenow="70" aria-voluemin="0" aria-voluemax="100%%">70%</div>
</div>
</div>

<div class="col-sm-5 offset-sm-2">
<h3 class="mt-5">Bootsrap</h3>
<div class="progress">
<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:75%" 
aria-voluenow="75" aria-voluemin="0" aria-voluemax="100%%">75%</div>
</div>
</div>

<div class="col-sm-5">
<h3 class="mt-5">Graphic Desgining</h3>
<div class="progress">
<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:70%" 
aria-voluenow="70" aria-voluemin="0" aria-voluemax="100%%">70%</div>
</div>
</div>

<div class="col-sm-5 offset-sm-2">
<h3 class="mt-5">Python Programming</h3>
<div class="progress">
<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:70%" 
aria-voluenow="70" aria-voluemin="0" aria-voluemax="100%%">70%</div>
</div>
</div>

<div class="col-sm-5">
<h3 class="mt-5">Django</h3>
<div class="progress">
<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:60%" 
aria-voluenow="60" aria-voluemin="0" aria-voluemax="100%%">60%</div>
</div>
</div>

<div class="col-sm-5 offset-sm-2">
<h3 class="mt-5">Wordpress</h3>
<div class="progress">
<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:80%" 
aria-voluenow="80" aria-voluemin="0" aria-voluemax="100%%">80%</div>
</div>
</div>
</div>
</div>



{% endblock content %}
